@using REMOTEMIND_EASY.Core.Application.ViewModels.User;
@using REMOTEMIND_EASY.Core.Application.ViewModels.User;
@using Microsoft.AspNetCore.Http;
@using REMOTEMIND_EASY.Core.Application.Helpers;
@inject IHttpContextAccessor accessor;
@model UserViewModel;
@{
    ViewData["Title"] = "EmployeeHome";
    UserViewModel user = accessor.HttpContext.Session.GetSession<UserViewModel>
           ("user");
    var employees = ViewBag.Employees;
    var tests = ViewBag.Tests;
    var etest = ViewBag.ET;

}

@* <h2 class="text-center mt-5 ">Dashboard</h2>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">

            <!-- Icon Cards-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                <div class="inforide">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                            <h4>@(user.RoleId == 1 ? "Empleados activos" : "Tests")</h4>
                            <h2>@(user.RoleId == 1 ? employees : "")</h2>
                        </div>
                    </div>
                </div>
            </div>

            @if (user.RoleId != 1)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                    <div class="inforide">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                <h4>Promedio</h4>
                                <h2>50</h2>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
 *@










<div class="col-md-10 col-sm-11 display-table-cell v-align">
    <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
    <div class="row">
        <header>
            <div class="col-md-7">
                <nav class="navbar-default pull-left">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            
                        </button>
                    </div>
                </nav>
                <div class="search hidden-xs hidden-sm">
                    <input type="text" placeholder="Search" id="search">
                </div>
            </div>
            <div class="col-md-5">
                <div class="header-rightside">
                    <ul class="list-inline header-top pull-right">
                        <li class="hidden-xs"><a href="#" class="add-project" data-toggle="modal" data-target="#add_project">Add Project</a></li>
                        
                           
                        <li class="dropdown">
                            
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-content">
                                        <span>JS Krishna</span>
                                        <p class="text-muted small">
                                            me@jskrishna.com
                                        </p>
                                        <div class="divider">
                                        </div>
                                        <a href="#" class="view btn-sm active">View Profile</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <div class="user-dashboard">
        <h1>Bienvenido, @user.Name</h1>
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12 gutter">

                <div class="sales">
                    <h2>@(user.RoleId == 1 ? "Empleados" : "Test Realizados" )</h2>

                    <div class="btn-group">
                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>Cantidad:</span> @(user.RoleId == 2 ? tests : employees)
                        </button>
                        <div class="dropdown-menu">
                            <a href="#">2012</a>
                            <a href="#">2014</a>
                            <a href="#">2015</a>
                            <a href="#">2016</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12 gutter">
                @if(user.RoleId == 1){
                    <div class="sales report">
                        <h2>Tests Realizados</h2>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>Cantidad:</span> @etest
                            </button>
                            <div class="dropdown-menu">
                                <a href="#">2012</a>
                                <a href="#">2014</a>
                                <a href="#">2015</a>
                                <a href="#">2016</a>
                            </div>
                        </div>
                    </div>
                }
               
            </div>
        </div>
    </div>
</div>
       



<!-- Modal -->
<div id="add_project" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Add Project</h4>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Project Title" name="name">
                <input type="text" placeholder="Post of Post" name="mail">
                <input type="text" placeholder="Author" name="passsword">
                <textarea placeholder="Desicrption"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
                <button type="button" class="add-project" data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>





